@page "/creators"

<h3>Creators</h3>

<div class="artists_gallery">
    <a href="#">
        <img src="../images/artist_1.png" />
    </a>
    <a href="#">
        <img src="../images/artist_2.png" />
    </a>
    <a href="#">
        <img src="../images/artist_3.png" />
    </a>
    <a href="#">
        <img src="../images/artist_4.png" />
    </a>
</div>



<div class="description_artist">
    <p>We like to make clothing that lasts and that transcend fast fashion industry.</p>
    <p>We want to create artwork that you can wear on your body, created from suistainable materials.</p>
</div>



@code {

}
