@page "/"

<PageTitle>Home</PageTitle>


<p></p>

<div class="parent_video_index">
    <h1 class="titel">UNIKUM MUKINU</h1>

    <video class="video_index" autoplay loop muted>
        <source src="../videos/screenprinting.mp4" type="video/mp4" />
        video not supported
    </video>
</div>
@*
<SurveyPrompt Title="How is Blazor working for you?" />
<h1 style="color:crimson;font-family:Algerian;">test</h1>*@



