@* page with all pieces that you can purchase *@
@page "/pieces"

<h3>art pieces</h3>
<p1>clothing for the modern man</p1>




<ProductList/>

@code {
    @*skal have objekter fra database ind her, så jeg kan vise dem på siden *@
    public String[] Items = { "bread", "butter", "cake"};





}
